.perfil {

}

.perfil header {
    position: top;
    
    width: 100%;
    height: 100%;
    left: 135px;
    gap: 0px;
    opacity: 0px;
}

.perfil button {
    width: 288px;
    height: 67px;
    top: 30px;
    left: 1121px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
}

.perfil_pic {
    position: absolute;
    width: 194px;
    height: 193px;
    top: 30px;
    left: 208px;
}

.perfil_background {
    width: 1305;
    height: 206;
    object-fit: cover;
}

.btn_edit {
    position: absolute;
    top: 10px;    /* Distância do topo */
    right: 10px;  /* Distância da direita */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
