.perfil {

}

.perfil button {
    width: 288px;
    height: 67px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FF0054;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Manjari;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}

.perfil_header {
    position: top;
    width: 1305px;
    height: 260px;
    flex-shrink: 0;
}

.perfil_pic {
    position: absolute;
    width: 194px;
    height: 193px;
    top: 30px;
    left: 208px;
}

.perfil_background {
    position: top;
    width: 1305px;
    height: 260px;
    flex-shrink: 0;
}

.btn_edit {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container {
    display: flex;
}
.div1, .div2 {
    width: 50%; /* Ajuste o tamanho conforme necessário */
    padding: 10px;
    border: 1px solid #000;
}
